{% extends "browser/base.html" %}

{% block js2 %} {{ block.super }} {% endblock %}

{% block content %}

  <body onload="init()">
<div id="navigation">
<hr noshade>
    <table><tr>
    <td class="navtext">Browse&nbsp;&#x25B8;</td>
        <td class="linked"><a>Topics</a>
              <ul> 
                      <li><a href="{% url 'topic-list' %}">List of Terms</a></li> 
                      <li><a href="{% url 'topic-graph' %}">Term Distributions</a></li>
                      <li><a href="{% url 'topic-presence' %}">Relative Presence</a></li>
              </ul>
        </td>
        <td class="linked"><a>Documents</a>
              <ul>
                      <li><a href="{% url 'doc-graph' %}">Topic Distributions</a></li>
              </ul>
        </td>
        <td class="linked"><a>Terms</a>
              <ul>
                      <li><a href="{% url 'term-list' %}">List by Frequency</a></li>
                      <li><a href="{% url 'term-graph' %}">Topic Distributions</a></li>
              </ul>
        </td>
        <td class="linked"><a>About</a>
              <ul>
                      <li><a href="http://www.cs.princeton.edu/~blei/lda-c/">LDA</a></li>
              </ul>
        </td>
        </td>
        <td></td>
        <td class="searchbar"> Search&nbsp;&#x25B8;</td>
        <td class="searchbar"><input type="text" name="search" size="20" onkeypress="handleKeyPress(event)"><span onclick="doSearch()"></span></td>
    </tr></table>
    </div>
<div id="top"></div>
<h1 id="header">
<table><tr>
<td id="title">{proactivo, responsable, presión}</td>
</tr></table></span>
<hr noshade></h1>

<div id="main">
<table><tr>
<td width="20.0%">
<table class="dark">
<tr class="title">
<td>words</td>
</tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/proactivo'">proactivo</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/responsable'">responsable</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/presión'">presión</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/comunicación'">comunicación</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/liderazgo'">liderazgo</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/dinámico'">dinámico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/industrial'">industrial</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/entrevista'">entrevista</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/orientado'">orientado</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/ordenado'">ordenado</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/office'">office</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/ventas'">ventas</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/facilidad'">facilidad</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/proactiva'">proactiva</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/responsabilidad'">responsabilidad</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/microsoft'">microsoft</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/personas'">personas</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/supervision'">supervision</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/marketing'">marketing</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/iniciativa'">iniciativa</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/organizado'">organizado</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/honesto'">honesto</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/secundaria'">secundaria</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/analítico'">analítico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/comprometido'">comprometido</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/tecnicos'">tecnicos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/creatividad'">creatividad</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/desarrollo'">desarrollo</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/logros'">logros</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/terms/disposición'">disposición</td></tr>

</table>
</td>

<td width="50.0%">
<table class="light">
<tr class="title">
<td>related documents</td>
</tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc40024'">dibujante arquitectura estudiante</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc7524'">asistente base datos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc14657'">auxiliar datos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc27712'">supervisor produccion libertad</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc16376'">electricista</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc185'">coordinadora cobranza atencion cliente a</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc11252'">practicante mecanica</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc29932'">jefe campamento huancavelica</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc60914'">ejecutivo negocios cartera huanuco</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc14106'">digitadoras centro</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc43628'">consultor proyectos trujillo</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc37238'">piura</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc16230'">tecnico cableado estructurado</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc25184'">proyectos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc19402'">tecnico seguridad electronica moquegua m</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc26973'">practicante metal mecanico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc31861'">tecnico cableado estructurado moquegua m</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc57477'">disenadores</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc14981'">coordinador compras</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc46146'">tecnico electronico electrico experienci</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc29196'">asistente geologo</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc62803'">digitadores</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc12019'">analista programador callao</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc26224'">administrador servidores</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc5434'">soporte tecnico huanuco huanuco</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc14135'">specialist tech support</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc51524'">industrial textil</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc45240'">practicante produccion</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc29868'">jefe proyectos corporativos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc36714'">supervisor campo rf transmisiones arequi</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc42124'">especialista impacto ambiental trujillo </td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc24377'">capacitadores consultores jefe seguridad</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc60534'">tecnico telecomunicaciones hfc urgente</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc52614'">consultora sistemas busqueda para desarr</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc34453'">jefe comercial</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc20989'">tecnico electronico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc28425'">sistemas industrial administrado</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc9170'">tecnico planta externa</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc61432'">inspector servicios derco</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc6028'">analista comunicaciones internas</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc60651'">esidente sanitario redes agua alcantaril</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc27799'">ejecutivo office surquillo</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc59360'">electricista industrial mantenimiento pr</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc18703'">analista infraestructura integracion mid</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc31507'">auxiliar credito grupal agencia chincha</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc48165'">jefe comercial</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc37117'">practicante mecanica experiencia</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc11167'">analista junior base datos business inte</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc12948'">asistente soporte sistemas</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc19799'">supervisor transporte primario</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc34776'">secretaria practicante secretaria</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc8872'">junior telecomunicaciones</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc55557'">ejecutivo comercial comercial</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc30707'">asistente tesoreria</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc58184'">electro trakles minera norte chico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc30451'">practicante voip</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc27148'">supervisor riego tecnificado</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc45641'">practicante mecanica surco</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc55345'">analista ssoma</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc49998'">ejecutivo ventas</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc5854'">tecnico cableado estructurado huanuco hu</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc8113'">promotor retail</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc34313'">desarrollador software disponibilidad pa</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc49045'">analista investigacion</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc64418'">asesor time</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc20596'">supervisor hse</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc26681'">industrial</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc38279'">tecnico telecomunicaciones huancayo</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc53669'">auxiliar almacen grifos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc45442'">asistente aseguramiento calidad certific</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc4799'">practicante recursos humanos arequipa</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc38730'">analista seguridad</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc44518'">analista operaciones base datos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc30578'">programador java</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc39748'">soporte tecnico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc9901'">tecnico seguridad electronica huancaveli</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc61310'">supervisor proyectos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc60343'">practicante telecomunicaciones</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc50783'">especificaciones</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc10830'">coordinador comercial servicios ambienta</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc3130'">coordinadora tienda retail sede cuzco cu</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc46399'">supervisor mantenimiento preventivo corr</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc61520'">auxiliar flota arequipa</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc474'">auxiliar comercial</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc14462'">consultor sistemas especialistas</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc49564'">epresentante ventas experiencia equipos </td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc12708'">practicante</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc13265'">asistente comercial gerencia experiencia</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc61587'">promotor herramientas electricas canal t</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc21546'">jefe proyectos electricos experiencia</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc7970'">escuela analistas ventanilla callao</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc56174'">configuradores instaladores</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc9748'">ejecutivo ventas</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc56260'">practicante soporte tecnico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc11841'">jefe proyectos</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc30105'">asistente produccion</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc16581'">tecnico mecanico</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc25279'">gestor cobranza campo chimbote</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc56891'">mecanico indispensable</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/docs/doc18678'">comercial junio</td></tr>

</table>
</td>

<td width="30.0%">
<table class="dark">
<tr class="title">
<td>related topics</td>
</tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{supervisor,_excel,_word}'">{supervisor, excel, word}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{orientación,_comunicación,_presión}'">{orientación, comunicación, presión}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{asistente,_administración,_industrial}'">{asistente, administración, industrial}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{administración,_analista,_contabilidad}'">{administración, analista, contabilidad}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{operaciones,_office,_mantenimiento}'">{operaciones, office, mantenimiento}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{jefe,_industrial,_administración}'">{jefe, industrial, administración}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{cliente,_atención,_servicio}'">{cliente, atención, servicio}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{sistemas,_informática,_computación}'">{sistemas, informática, computación}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{seguridad,_gestión,_ambiental}'">{seguridad, gestión, ambiental}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{mecánica,_mantenimiento,_mecánico}'">{mecánica, mantenimiento, mecánico}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{eléctricos,_mantenimiento,_instalación}'">{eléctricos, mantenimiento, instalación}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{sistemas,_analista,_programador}'">{sistemas, analista, programador}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{ventas,_negocio,_vendedor}'">{ventas, negocio, vendedor}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{calidad,_control,_productos}'">{calidad, control, productos}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{procesos,_gestión,_proyectos}'">{procesos, gestión, proyectos}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{ventas,_comercial,_marketing}'">{ventas, comercial, marketing}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{logística,_almacén,_administración}'">{logística, almacén, administración}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{personas,_docente,_informática}'">{personas, docente, informática}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{proyectos,_obra,_obras}'">{proyectos, obra, obras}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{seguridad,_industrial,_riesgos}'">{seguridad, industrial, riesgos}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{análisis,_elaboración,_gestión}'">{análisis, elaboración, gestión}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{mantenimiento,_supervisor,_planta}'">{mantenimiento, supervisor, planta}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{desarrollo,_sistemas,_implementación}'">{desarrollo, sistemas, implementación}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{información,_seguimiento,_elaborar}'">{información, seguimiento, elaborar}</td></tr>
<tr class="list"><td onclick="window.location.href='/peru/browser/topics/{coordinar,_supervisar,_controlar}'">{coordinar, supervisar, controlar}</td></tr>

</table>
</td>
</tr></table>
</div>

<div id="footer">
<br>
<hr noshade>
</div>
  </body>

{% endblock %}

